@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&family=Roboto:wght@100;300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  /* outline: 1px solid red; */
}
body{
  background-color: #334155;
}

.main-image-animation{
  animation: main-image-animation 1s ease-in-out;
}

.main-section-animation{
  animation: main-section-animation 2s ease-in-out;
}

@keyframes main-image-animation {
  0% {
    /* transform: translateX(-100%); */
    height: 0;
  }
  100% {
    /* transform: translateX(0); */
    height: 100%;
  }
}

@keyframes main-section-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}